{% block head %}
{% include "head.html" %}
{% endblock %}

<div class="row border-bottom border-light mb-4">
   <div class="col">
      <div class="h1 card-title">Masina: {{ masina.marca }}</div>
   </div>
   <div class="col text-right">
   {% include "masina/toolbar_masina.html" %}
   </div>
</div>
<ul class="list-group list-group-flush mb-4">
   <li class="list-group-item">Pret: {{ masina.pret }}</li>
   <li class="list-group-item">Reprezentanta: {{ masina.reprezentanta.nume }}</li>
   <li class="list-group-item">Localizata in: {{ masina.reprezentanta.localitate }}</li>
</ul>
{% if poze %}
<div class="form-group mt-3">
   <label class="h4">Galeria {{ masina.marca }}:</label>
</div>
<div class="gallery" id="gallery">
   {% for media in poze %}
   <div class="mb-3 pics animation all 2">
       <img  class="img-fluid" src="/media/{{ media.media }}" alt="{{ media.id }}">
       <p class="btn btn-danger mb-0" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" title="delete" onclick="confirmRemove('{% url 'masina_delete_photo' media.id %}')">  <span aria-hidden="true">&times;</span> </p>
   </div>
   {% endfor %}
</div>
{% endif %}
{% if recenzii %}
<div class="form-group mt-3">
   <label class="h4">Recenzii {{ masina.marca }}:</label>
</div>
<div class="table-responsive-sm mb-4">
   <table class="table table-bordered bg-light table-hover table-fixed">
      <tbody>
      {% for recenzie in recenzii %}
      <tr>
         <td scope="row" width="5%" class="text-center"> {{ forloop.counter }} </td>
         <td width="15%">{{ recenzie.autor }}</td>
         <td width="50%">{{ recenzie.descriere }}</td>
         <td width="20%">{{ recenzie.data_adaugari }}</td>
         <td width="10%" class="text-center">
            <div class="btn-group" role="group">
               <a class="btn alert-secondary" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" title="edit" href="{% url 'recenzie_edit' recenzie.id %}"> edit </a>
               <p class="btn alert-danger mb-0" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" title="delete" onclick="confirmRemove('{% url 'recenzie_delete' recenzie.id masina.id %}')"> del </p>
            </div>
         </td>
      </tr>
      {% endfor %}
      </tbody>
   </table>
</div>
{% endif %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}