{% block foo %}
   {% include "home_menu.html" %}
{% endblock %}

<h1>Test index</h1>


{% for user in users %}
</br>
User: {{ user.username }} - Admin: {{ user.is_staff }} - Superuser: {{ user.is_superuser }} - Last login: {{ user.last_login }}

{% endfor %}

{% for masina in masini %}
</br>
{{ masina.marca }} {{ masina.pret }}  <a href="{% url 'masina_show' masina.id %}"> view </a> <a href="{% url 'masina_form' masina.id %}"> edit </a> <a href="{% url 'masina_delete' masina.id %}"> delete </a>
{% endfor %}