<div class="btn-group" role="group">
    {% if masina is None and method != "create" %}
        <a class="btn alert-danger pr-2 pl-2 mb-0" href="{% url 'masina_create' %}">Adauga masina</a>
    {% endif %}
    {% if method != "edit" and masina %}
        <a class="btn alert-danger pr-2 pl-2 mb-0" href="{% url 'masina_form' masina.id %}">Editeaza</a>
    {% endif %}
    {% if masina %}
        <p class="btn alert-warning pr-2 pl-2 mb-0" style="cursor: pointer;" onclick="confirmRemove('{% url 'masina_delete' masina.id %}')" >Sterge</p>
    {% endif %}
    {% if masina and method != "create" %}
        <a class="btn alert-primary pr-2 pl-2 mb-0" href="{% url 'recenzie_create' masina.id %}">Add recenzie</a>
    {% endif %}
    {% if masina.reprezentanta %}
        <a class="btn alert-success pr-2 pl-2 mb-0" href="{% url 'reprezentanta_show' masina.reprezentanta.id %}">Reprezentanta</a>
    {% endif %}
</div>
<script>
function confirmRemove(url){
    if (confirm("Esti sigur ca vrei sa stergi?")) {
        window.location.href = url;
    }
}
</script>