{% block head %}
{% include "head.html" %}
{% endblock %}

<div class="h1 card-title border-bottom border-light pb-3">{{ method|capfirst }} reprezentanta {{ reprezentanta.nume }}</div>

<form class="p-4" action="{% if reprezentanta %} {% url 'reprezentanta_update' reprezentanta.id %} {% else %} {% url 'reprezentanta_store' %} {% endif %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="nume">Nume reprezentanta</label>
        <input type="text" name="nume" class="form-control" id="nume" value="{% if values and 'nume' in values  %}{{ values.nume }}{% else %}{{ reprezentanta.nume }}{%endif%}">
        {% include "error.html" with error_message=error_message  input_name='nume' %}
    </div>
    <div class="form-group">
        <label for="localitate">Localitate reprezentanta</label>
        <input type="text" class="form-control" name="localitate" id="localitate" value="{% if values and 'localitate' in values  %}{{ values.localitate }}{% else %}{{ reprezentanta.localitate }}{%endif%}">
        {% include "error.html" with error_message=error_message  input_name='localitate' %}
    </div>
    {% if 'edit' in method %}
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="all-cars" name="sterge_masinile" value="true">
        <label class="form-check-label" for="all-cars">Sterge definitiv toate masinile asociate cu aceasta reprezentanta?</label>
    </div>
    {%endif%}
    {% if masini %}
    <div class="form-group mt-3">
        <label class="h4">Masini fara reprezentanta, ne asociate:</label>
    </div>
    <div class="table-responsive-sm">
        <table class="table table-bordered bg-light table-hover table-fixed">
            <thead class="bg-secondary text-white">
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Marca</th>
                <th scope="col" class="text-center">Pret</th>
                <th scope="col" class="text-center">Actiuni</th>
            </tr>
            </thead>
            <tbody>
            {%endif%}
            {% for masina in masini %}
            <tr>
                <td scope="row" width="5%" class="text-center">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="vehicle1" name="masini" value="{{ masina.id }}">
                    </div>
                </td>
                <td width="40%">{{ masina.marca }}</td>
                <td width="40%">{{ masina.pret }}</td>
                <td width="15%" class="text-center">
                    <a class="btn btn-info" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" title="view" href="{% url 'masina_show' masina.id %}"> view </a>
                    <a class="btn btn-secondary" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" title="edit" href="{% url 'masina_form' masina.id %}"> edit </a>
                    <a class="btn btn-danger" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" title="delete" href="{% url 'masina_delete' masina.id %}"> del </a>
                </td>
            </tr>
            {% endfor %}
            {% if masini %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Salveaza</button>
    </div>
</form>

{% block footer %}
{% include "footer.html" %}
{% endblock %}