{% block head %}
   {% include "head.html" %}
{% endblock %}


<h1>Reprezentatia: {{ reprezentanta.nume }} </h1>
<br>
Editeaza:
<a href="{% url 'reprezentanta_form' reprezentanta.id %}"> edit </a>
<br>
<a href="{% url 'masina_create' reprezentanta.id %}">Inregistreaza masini pentru reprezentanta</a>
<br>
Masini ce se regasesc in aceste reprezentanta:
{% for masina in masini %}
</br>
{{ masina.marca }} {{ masina.pret }}  <a href="{% url 'masina_show' masina.id %}"> view </a> <a href="{% url 'masina_form' masina.id %}"> edit </a> <a href="{% url 'masina_delete' masina.id %}"> delete </a>
{% endfor %}

{% block footer %}
   {% include "footer.html" %}
{% endblock %}