{% block head %}
{% include "head.html" %}
{% endblock %}

<div class="row border-bottom border-light mb-4">
   <div class="col">
      <div class="h1 card-title">Reprezentante</div>
   </div>
   <div class="col text-right">
      <a class="btn btn-success" href="{% url 'reprezentanta_create' %}">Adauga reprezentanta</a>
   </div>
</div>
<div class="table-responsive-sm">
   <table class="table table-bordered bg-light table-hover table-fixed">
      <thead class="bg-secondary text-white">
      <tr>
         <th scope="col" class="text-center" >#</th>
         <th scope="col" class="text-center" >Nume</th>
         <th scope="col" class="text-center" >Localitatea</th>
         <th scope="col" class="text-center" >Actiuni</th>
      </tr>
      </thead>
      <tbody>
      {% for reprezentanta in reprezentante %}
      <tr>
         <td scope="row" width="5%" class="text-center">{{ forloop.counter }}</td>
         <td width="40%"> {{ reprezentanta.nume }} </td>
         <td width="40%">{{ reprezentanta.localitate }} </td>
         <td width="15%" class="text-center">
            <a class="btn btn-info" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" title="view" href="{% url 'reprezentanta_show' reprezentanta.id %}"> view </a>
            <a class="btn btn-secondary" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" title="edit" href="{% url 'reprezentanta_form' reprezentanta.id %}"> edit </a>
            <a class="btn btn-danger" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" title="delete" href="{% url 'reprezentanta_delete' reprezentanta.id %}"> del </a>
         </td>
         {% endfor %}
      </tr>
      </tbody>
   </table>
</div>
{% block footer %}
{% include "footer.html" %}
{% endblock %}