{% block head %}
{% include "head.html" %}
{% endblock %}
<div class="row border-bottom border-light mb-4">
   <div class="col">
      <div class="h1 card-title">Reprezentante</div>
   </div>
   <div class="col text-right">
      {% include "reprezentanta/toolbar_reprezentanta.html" %}
   </div>
</div>
<div class="table-responsive-sm">
   <table class="table table-bordered bg-light table-hover table-fixed">
      <thead class="bg-secondary text-white">
      <tr>
         <th scope="col" class="text-center" >#</th>
         <th scope="col" class="text-center" >Nume</th>
         <th scope="col" class="text-center" >Localitatea</th>
         <th scope="col" class="text-center" >Actiuni</th>
      </tr>
      </thead>
      <tbody>
      {% for reprezentanta in reprezentante %}
      <tr>
         <td scope="row" width="5%" class="text-center">{{ forloop.counter }}</td>
         <td width="40%"> {{ reprezentanta.nume }} </td>
         <td width="40%">{{ reprezentanta.localitate }} </td>
         <td width="15%" class="text-center">
            <div class="btn-group" role="group">
               <a class="btn alert-info mb-3" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" title="view" href="{% url 'reprezentanta_show' reprezentanta.id %}"> view </a>
               <a class="btn alert-secondary mb-3" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" title="edit" href="{% url 'reprezentanta_form' reprezentanta.id %}"> edit </a>
               <p class="btn alert-danger mb-3" style="font-size: 10px;" data-toggle="tooltip" data-placement="top" title="delete" onclick="confirmRemove('{% url 'reprezentanta_delete' reprezentanta.id %}')"> del </p>
            </div>
         </td>
         {% endfor %}
      </tr>
      </tbody>
   </table>
</div>
{% block footer %}
{% include "footer.html" %}
{% endblock %}