<div class="btn-group" role="group">
    {% if reprezentanta is None and method != "create" %}
        <a class="btn alert-danger pr-2 pl-2 mb-0" href="{% url 'reprezentanta_create' %}">Add Reprezentante</a>
    {% endif %}
    {% if method != "edit" and reprezentanta %}
        <a class="btn alert-danger pr-2 pl-2 mb-0" href="{% url 'reprezentanta_form' reprezentanta.id %}">Editeaza</a>
    {% endif %}
    {% if reprezentanta %}
        <p class="btn alert-warning pr-2 pl-2 mb-0" style="cursor: pointer;" onclick="confirmRemove('{% url 'reprezentanta_delete' reprezentanta.id %}')" >Sterge</p>
    {% endif %}
    {% if method != "create" and reprezentanta %}
        <a class="btn alert-primary pr-2 pl-2 mb-0" href="{% url 'masina_create' reprezentanta.id %}">Adauga o masina la reprezentanta</a>
    {% endif %}
</div>
<script>
function confirmRemove(url){
    if (confirm("Esti sigur ca vrei sa stergi?")) {
        window.location.href = url;
    }
}
</script>