<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body>
    <div class="container-fluid">
        <div class="card-body">
            <nav class="navbar navbar-light row" style="background-color: #e3f2fd;">
                <div class="nav-item col text-center">
                    <a class="nav-link text-dark" href="{% url 'masina_index' %}">Home</a>
                </div>
                <div class="nav-item col text-center">
                    <a class="nav-link text-dark" href="{% url 'reprezentanta_index' %}">Reprezentanta</a>
                </div>
                <div class="nav-item col text-center">
                    <a class="nav-link text-dark" href="{% url 'masina_index' %}">Masini</a>
                </div>
                <div class="nav-item col text-center">
                    <a class="nav-link text-dark" href="{% url 'masina_create' %}">Inregistreaza masina</a>
                </div>
                <div class="nav-item col text-center">
                    <a class="nav-link text-dark" href="#about">About</a>
                </div>
            </nav>
        </div>