{% block head %}
{% include "head.html" %}
{% endblock %}

{% load static %}
<script src="{% static 'js/vue.min.js' %}"></script>
<script src="{% static 'js/axios.min.js' %}"></script>

<div id="app">
    <div class="h1">Ultimile recenzii:</div>
    <div class="md-form mt-0 mb-4">
        <input class="form-control"
               ref="SearchInput"
               type="text"
               placeholder="Search"
               aria-label="Search"
               v-model="srSearch"
               @input="searchFunction">
    </div>
    <div
        class="card"
        v-for="(recenzie, index) in recenzii"
    >
        <div class="card-header">
            Masina: <a :href="'/masina/view/' + recenzie.masina.id">|| recenzie.masina.marca ||</a>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>|| recenzie.descriere ||</p>
                <footer class="blockquote-footer text-right">|| recenzie.autor || <cite title="Source Title">|| recenzie.data_adaugari ||</cite></footer>
            </blockquote>
        </div>
    </div>
</div>

<script>
const app = new Vue({
    delimiters: ['||', '||'],
    el: '#app',
    data: {
        srSearch: '',
        recenzii: [],
        search_list: []
    },
    methods: {
        searchFunction: function() {
            if(this.srSearch.length === 0){
                this.getAllResults();
            } else {
                let search_list = [];
                let regex = new RegExp('(?:' + this.srSearch + ')', 'i');
                for (const rec in this.recenzii){
                    let find = [
                        this.recenzii[rec].autor,
                        this.recenzii[rec].descriere,
                        this.recenzii[rec].data_adaugari,
                        this.recenzii[rec].masina.marca,
                    ].filter(function (word) {
                         return regex.test(word);
                    });
                    
                    if(find.length > 0){
                        search_list.push(this.recenzii[rec]);
                    }
                }
                this.recenzii = search_list;
            }
        },
        getAllResults: function() {
            axios.get('{% url 'recenzie_index' %}')
            .then(res => {
                this.recenzii = res.data;
            })
            .catch(error => {
                alert("Eroare la request: " + String(error));
            });
        },
    },
    beforeMount(){
        this.getAllResults();
    }
});
</script>

{% block footer %}
{% include "footer.html" %}
{% endblock %}